.videoCard {
  width: 90%;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;

  .videoPlayer {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .videoCardText {
    position: absolute;
    bottom: 20px;
    color: var(--main-black);
    left: 20px;
    background-color: var(--main-white);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.2s all ease-in-out;
  }

  .videoCardText:hover {
    background-color: var(--homeSection-companyTitle);
    color: var(--main-white);
  }
}
