@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #23c95c;
  --main-black: #000000;
  --main-white: #ffffff;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --homeSection-background: #111111;
  --homeSection-companyTitle: #578847;
  --homeSection-backgroundSecondary: #538d22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
