.heroCard {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  position: relative;

  .slide {
    width: 100%;
    height: 100%;
    color: var(--main-white);

    img {
      object-fit: cover;
      width: 300px;
      height: 200px;
      border-radius: 15px;
    }

    h3 {
      position: absolute;
      bottom: 40px;
      font-size: 28px;
      left: 10px;
    }

    p {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }

  .active {
    display: block;
  }

  .inactive {
    display: none;
  }
}
