.heropage {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .leftSideHero {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .leftSideHeroUp {
      width: 100%;
      height: 40%;
      padding-left: 50px;
      padding-bottom: 10px;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      background-color: lightblue;

      .secondaryTextWrapper {
        display: flex;
      }
    }

    .leftSideHeroDown {
      width: 100%;
      height: 60%;
      padding: 10px 0px 10px 50px;
      position: relative;

      h2:first-of-type {
        font-size: 100px;
        font-weight: 500;
        letter-spacing: 2px;
        position: absolute;
        top: 10px;
        left: 50px;
        z-index: 2;
      }

      h2:nth-of-type(2) {
        font-size: 100px;
        font-weight: 500;
        letter-spacing: 2px;
        position: absolute;
        top: 120px;
        left: 50px;
        z-index: 2;
      }

      h2:nth-of-type(3) {
        font-size: 100px;
        font-weight: 500;
        letter-spacing: 2px;
        position: absolute;
        top: 240px;
        left: 50px;
        z-index: 2;
      }
    }
  }

  .rightSideHero {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
