.nav {
  width: 100%;
  height: 10vh;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  h1 {
    color: var(--neon-green);
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
    align-content: flex-start;
    cursor: pointer;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;

    li {
      margin: 0px 15px;
      cursor: pointer;
      position: relative;
    }

    li:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: var(--main-black);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    li:hover:after {
      width: 100%;
      left: 0;
    }
  }

  .languageCircle {
    width: 60px;
    height: 60px;
    border: 2px solid var(--neon-green);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
